*{
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    text-align:center;
    line-height: 1.5;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    height: 90px;
    background-color: #eeeeee;
    border-bottom: 1px solid #dddddd;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
.top-nav {
   /* display:inline-block;  */
    /* margin-top: 60px; */
   position: absolute;
   top: 60px;
   padding-right: 5px;
   font-size: 12px;
}

.top-nav > a {
    text-decoration: none;
    padding-right: 15px;
    font-size: 14px
}

.nav-bar > h1 {
    font-size: 30px;
    margin-top: 10px;
    padding: 5px;
}

a {
    text-decoration: none;
  }

#banner {
    min-height: 200px;
    padding: 6%, 0;
    background-color: rgb(133, 82, 82);
}  

#about-me {
  
    min-height: 200px;
    padding: 6%, 0;
    background-color: #bbb;
}

#portfolio {
    
    min-height: 200px;
    paddingL 6%, 0;
    background-color: #ddd;
}